apache-airflow-providers-postgres
apache-airflow-providers-amazon
apache-airflow-providers-ssh
sentry-sdk

2captcha-python
beautifulsoup4
dedupe
dedupe-variable-datetime
furl
GeoAlchemy2
geopandas
httpx
openpyxl
pandas==2.*
phonenumbers
playwright
psycopg2==2.*
pyairtable
pyarrow
pyogrio
requests==2.*
sib-api-v3-sdk
SQLAlchemy
trafilatura
unidecode
urllib3
xlsxwriter

# this is temporary fix until trafilatura can be updated to >1.8.1
lxml[html_clean]
