apache-airflow-providers-postgres
apache-airflow-providers-amazon
sentry-sdk

beautifulsoup4
GeoAlchemy2
geopandas
openpyxl
pandas==2.*
psycopg2==2.*
pyairtable
pyarrow
pyogrio
requests==2.*
sib-api-v3-sdk
SQLAlchemy
tenacity
trafilatura
urllib3
xlsxwriter
