apache-airflow-providers-postgres
apache-airflow-providers-amazon

GeoAlchemy2
geopandas
openpyxl!=3.1.1
pandas
psycopg2
pyairtable
requests
scrapy
scrapyscript
SQLAlchemy
tenacity
tqdm
trafilatura
urllib3
xlsxwriter