-c constraints.txt

apache-airflow[amazon,postgres]==2.5.1

click
GeoAlchemy2
geopandas
openpyxl!=3.1.1
pandas
pipx
psycopg2
pyairtable
pydantic[email]
requests
SQLAlchemy
tenacity
tqdm
urllib3
xlsxwriter
