# Python
*.py[cod]
__pycache__/
*.egg-info

# VSCode
.vscode/
!.vscode/settings.json

# Virtualenv
.venv/
venv/

# Misc
*.env
!.template.env
.tmp/
.tox/
.pytest_cache
airflow/
*.DS_Store
*.drawio.bkp
data/
