repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.ambr$

  # api
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff-format
        name: api|ruff-format
        args: [--config=api/pyproject.toml]
        files: ^api
        types_or: [python]
      - id: ruff
        name: api|ruff-check
        args:
          - --config=api/pyproject.toml
          - --fix
          - --fixable=I
        files: ^api
        types_or: [python]
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-jinja
        args: [--config=api/pyproject.toml]
        files: ^api
      - id: djlint-jinja
        args: [--config=api/pyproject.toml]
        files: ^api

  # deployment
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.104.0
    hooks:
      - id: terraform_fmt
        name: deployment|terraform-fmt
        files: ^deployment/

  # pipeline
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff-format
        name: pipeline|ruff-format
        args: [--config=pipeline/pyproject.toml]
        files: ^pipeline
        types_or: [python,json]
      - id: ruff
        name: pipeline|ruff-check
        args:
          - --config=pipeline/pyproject.toml
          - --fix
          - --fixable=I
        files: ^pipeline
        types_or: [python]

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.5.0
    hooks:
      - id: sqlfluff-fix
        name: pipeline|sqlfluff-fix
        files: ^pipeline
        types: [sql]
        additional_dependencies:
          - sqlfluff-templater-dbt==3.5.0
          - dbt-core>=1.10.11
          - dbt-postgres>=1.9
        args:
          - --config=./pipeline/pyproject.toml
