# Development defaults. Source this or copy to .env.local and set env before running ./airflow.sh
# Not suited for production.

AIRFLOW_VAR_ENVIRONMENT=test

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql://airflow:airflow@127.0.0.1:5432/airflow
AIRFLOW_CONN_PG=postgresql://data-inclusion:data-inclusion@127.0.0.1:5433/data-inclusion
AIRFLOW_CONN_S3='{"conn_type"="aws", "extra"={"endpoint_url"="http://minio:9000", "aws_access_key_id"="minioadmin", "aws_secret_access_key"="minioadmin", "service_config"={"s3"={"bucket_name"="data-inclusion-lake"}}}}'

AIRFLOW__API_AUTH__JWT_SECRET=USE_IN_DEVELOPMENT_ONLY
AIRFLOW__API__SECRET_KEY=USE_IN_DEVELOPMENT_ONLY

