[Unit]
Description=Timer for running cleanup daily at 2AM
After=network.target

[Timer]
Unit=cleanup.service
OnCalendar=*-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target
