{% macro udf__reseau_alpha_opening_hours() %}

DROP FUNCTION IF EXISTS processings.reseau_alpha_opening_hours;

CREATE OR REPLACE FUNCTION processings.reseau_alpha_opening_hours(data JSONB)
RETURNS TEXT
AS $$

#INLINE#

return to_osm(data)

$$ LANGUAGE plpython3u;

{% endmacro %}
