{% extends "base.html" %}

{% block body_content %}
<div class="is-size-7">
    <section class="section" id="task">
        <div id="task-metadata">
            <input name="row_instance_id" type="hidden" value="{{ row_instance.id }}" />
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-4 is-parent">
                <div class="tile is-child">
                    <div class="box">
                        <p class="heading">Dataset</p>
                        <p class="title">{{ left_dataset_label_str }}</p>
                    </div>
                </div>
            </div>
            <div class="tile is-8 is-parent">
                <div class="tile is-child">
                    <div class="box">
                        <p class="heading">Dataset</p>
                        <p class="title">{{ right_dataset_label_str }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-4 is-parent">
                <div class="tile is-child" style="width: 100%;">
                    <div class="box">
                        <h1 class="title is-5">Données de départ</h1>
                        <pre><code>{{ left_row_instance.data|pprint }}</code></pre>
                    </div>
                </div>
            </div>

            <div class="tile is-8 is-vertical is-parent" x-data="{ selectedRowsSet: new Set() }" x-init="() => {
                        $('#datatable').DataTable({
                            ajax: {
                                url: '/search',
                            },
                            columns: [
                                {% for column_name in column_names %}
                                { title: '{{ column_name }}', data: '{{ column_name }}', defaultContent: '' },
                                {% endfor %}
                            ],
                            ordering: false,
                            lengthChange: false,
                            pageLength: 25,
                            processing: true,
                            serverSide: true,
                        });
                    
                        $('#datatable tbody').on('click', 'tr', function () {
                            $(this).toggleClass('is-selected');
                            selectedRowsSet.has($(this).attr('id')) ? selectedRowsSet.delete($(this).attr('id')) : selectedRowsSet.add($(this).attr('id'));
                        });
                    
                        $('#datatable').on('draw.dt', () => {
                            selectedRowsSet.forEach(rowId => {
                                console.log(rowId);
                                $(`#${rowId}`).toggleClass('is-selected');
                            });
                        });
                    }">
                <div class="tile is-child" style="flex-grow: 0;""">
                    <div class="box">
                        <span x-text="[...selectedRowsSet].length"></span> lignes sélectionnées
                    </div>
                </div>

                <div class="tile is-child">
                    <div class="box">
                        <table class="table" id="datatable"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}