{% if permanence_queryset|length > 0 %}
    <div class="box">
        <h1 class="title is-7">Structures France Services à proximité</h1>
        <table class="table is-hoverable is-fullwidth is-striped is-narrow">
            <thead>
                <tr>
                    <th>SIRET</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for permanence_instance in permanence_queryset|slice:":2" %}
                    <tr class="has-background-success-light">
                        <td>{{ permanence_instance.siret }}<a title="ouvrir l'annuaire entreprises" target="_blank"
                            href="https://annuaire-entreprises.data.gouv.fr/etablissement/{{ permanence_instance.siret }}">&nbsp;ℹ️</a>
                        </td>
                        <td>{{ permanence_instance.name }}</td>
                        <td>{{ permanence_instance.address }}</td>
                        <td>{{ permanence_instance.city }}</td>
                        <td><button class="button" hx-post="/partials/submit" hx-include="#task-metadata"
                            hx-swap="outerHTML" hx-vals='{"siret": "{{ permanence_instance.siret }}"}'>C'est la
                            structure
                            ✅</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}