<div id="search-results">
    <div class="block">
        <table class="table is-hoverable is-fullwidth is-striped is-narrow">
            <thead>
                <tr>
                    <th>SIRET</th>
                    <th>Siège&nbsp;?</th>
                    <th>Etat</th>
                    <th>Nom entreprise</th>
                    <th>Nom établissement</th>
                    <th>Adresse</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for entreprise in establishment_queryset %}
                    {% for etablissement in entreprise.matching_etablissements %}
                        <tr>
                            <td>{{ etablissement.siret }}<a title="ouvrir l'annuaire entreprises" target="_blank"
                                href="https://annuaire-entreprises.data.gouv.fr/etablissement/{{ etablissement.siret }}">&nbsp;ℹ️</a>
                            </td>
                            <td>{{ etablissement.est_siege|yesno:"X," }}</td>
                            {% if entreprise.etat_administratif == "A" %}
                                <td>En activité</td>
                            {% else %}
                                <td>Fermé</td>
                            {% endif %}
                            <td>{{ entreprise.nom_complet }}</td>
                            <td>{{ etablissement.nom_commercial|default_if_none:etablissement.liste_enseignes|default_if_none:""|join:" " }}</td>
                            <td>{{ etablissement.adresse }}</td>
                            <td><button class="button" hx-post="/partials/submit" hx-include="#task-metadata"
                                hx-swap="outerHTML" hx-vals='{"siret": "{{ etablissement.siret }}"}'>C'est la
                                structure
                                ✅</button></td>
                            <td><button class="button" hx-post="/partials/submit" hx-include="#task-metadata"
                                hx-swap="outerHTML"
                                hx-vals='{"siret": "{{ etablissement.siret }}", "is_parent": true}'>Structure
                                mère 💯</button></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if establishment_queryset|length == 0 %}
        <div class="block is-flex is-justify-content-center">
            <article class="message is-info">
                <div class="message-header">Aucun résultat!</div>
                <div class="message-body content">
                    💡 Essayez d'enlever des termes dans la recherche
                </div>
            </article>
        </div>
    {% endif %}
</div>