apache-airflow[amazon,fab,postgres,s3fs,sentry,slack,ssh,standard,uv]==3.2.0

2captcha-python
beautifulsoup4
data-inclusion-schema
furl
GeoAlchemy2
geopandas
httpx
anthropic
openpyxl
pandas
playwright
pyarrow
pyarrow
pyogrio
requests
sib-api-v3-sdk
SQLAlchemy
tabulate
typer
urllib3
xlsxwriter
xmlschema
