apache-airflow[amazon,fab,postgres,s3fs,sentry,ssh,standard,uv]==3.1.7

2captcha-python
beautifulsoup4
data-inclusion-schema
furl
GeoAlchemy2
geopandas
httpx
openpyxl
pandas
playwright
pyarrow
pyogrio
requests
sib-api-v3-sdk
SQLAlchemy
urllib3
xlsxwriter
xmlschema
