apache-airflow[amazon,fab,postgres,sentry,ssh,standard]==3.1.0

2captcha-python
beautifulsoup4
data-inclusion-schema
furl
GeoAlchemy2
geopandas
httpx
openpyxl
pandas==2.*
playwright
psycopg2==2.*
pyairtable
pyarrow
pyogrio
requests==2.*
sib-api-v3-sdk
SQLAlchemy
trafilatura
urllib3
xlsxwriter
xmlschema

# this is temporary fix until trafilatura can be updated to >1.8.1
lxml[html_clean]
