# These settings are NOT suited for production.
# They are intented for development.

###
### FastAPI
###

ENV=dev
DATABASE_URL=postgresql://data-inclusion:data-inclusion@localhost:5432/data-inclusion
SECRET_KEY=USE_IN_DEVELOPMENT_ONLY
SENTRY_DSN=

DATALAKE_ENDPOINT_URL=http://localhost:9000
DATALAKE_BUCKET_NAME=data-inclusion-lake
DATALAKE_SECRET_KEY=minioadmin
DATALAKE_ACCESS_KEY=minioadmin