name: main

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  tests:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - name: up stack
        run: docker-compose up -d
      - name: run tests
        run: docker-compose run --entrypoint pytest api -p no:cacheprovider
